.credits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  margin-top: 20px;
  padding: 20px 20px 40px 20px;
  background-color: #e7e0e0;
  text-align: center;

  .cabecalho {
    width: 100%;
    position: relative;
    font-size: smaller;
    margin-bottom: 10px;
  }

  .titulo {
    text-align: center;
  }

  .icone-fechar {
    position: absolute;
    right: 0;
    top: 20%;
  }

  a {
    text-decoration: none;
    color: black;
  }

  a.link {
    text-decoration: none;
    color: #3A2BD9;
  }

  a:hover {
    color: #2B8BD9;
  }
}
  

.ul-cred {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 45rem;

  span {
    color: rgb(255, 255, 255);
    background-color: var(--corauxiliar);
    font-family: var(--font01);
    padding: 4px;
    border-radius: 4px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }

  p {
    font-family: var(--font02);
  }
}

@media (max-width: 700px ) {
  .credits {
    margin-top: -20px;
    padding-top: 40px;
  }
}