@font-face {
    font-family: 'SweetieBubble';
    src: url('../fonts/SweetieBubbleGum-Regular.ttf') format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --font01: 'SweetieBubble', sans-serif;
    --font02: Arial, Helvetica, sans-serif;
    --corprincipal: #3A2BD9;
    --corsecundaria: #2B54D9;
    --corauxiliar: #2B8BD9;
    --corbranca: #fff;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#telaInicial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url('../imagens/fundo.png');
    background-size: cover;
    header {
        text-align: center;
        padding-bottom: 80px;
    }
}


h1 {
    font-family: var(--font01);
    font-weight: normal;
    font-size: 4em;
    color: var(--corprincipal);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

@media (max-width: 700px) {
    #telainicial , h1 {
        font-size: 3.2em;
    }
}

main > div#button {
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    width: 200px;
    height: 50px;
    color: var(--corbranca);
    background-color: var(--corprincipal);
    font-family: var(--font01);
    font-size: 1.2em;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.171);
}

button:hover {
    background-color: var(--corsecundaria);
}

footer {
    padding-top: 80px;
    text-align: center;
    font-family: var(--font02);
    font-weight: bold;
}

footer, p {
    padding-left: 20px;
    padding-right: 20px;
}

/* Configuração para as perguntas */
.pergunta {
    margin-top: 150px;
    padding: 20px;
    text-align: center;
    color: var(--corbranca);
    font-family: var(--font02);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--corprincipal);
    width: 600px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.459);
    > p {
        font-family: var(--font02);
        font-size: 1.5em;
        padding-bottom: 30px;
    }

    button {
        background-color: var(--corbranca);
        color: var(--corprincipal);
        border-radius: 10px;
        margin-bottom: 10px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.171);
    }

    button:hover {
        background-color: var(--corprincipal);
        color: var(--corbranca);
    }
}

@media (max-width: 500px) {
    .pergunta {
        margin-top: 80px;
        width: 250px;
        height: 450px;
    }

    .respostas {
        flex: 0;
    }

    button {
        width: 250px;
        height: 60px;
        margin-right: 0px;
    }

    p {
        font-size: 1.3em;
    }
}

.fechar {
    cursor: pointer;
}