<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../model/index.css">
    <title>QuizScript</title>
</head>
<body>
    <header>
        <h1>QuizScript</h1>
    </header>

    <main>
        <div id="button">
            <audio src="../audios/buttonEfeito.mp3" class="enter"></audio>
            <button type="button" class="efeitosonoro">Começar</button>
            <button type="button" class="efeitosonoro">Como jogar</button>
            <button type="button" class="efeitosonoro">Créditos</button>
        </div>
    </main>
    <footer>
        <p>Projeto desenvolvido pelo <strong>Squad 04</strong> para o módulo 01 &copy;</p>
    </footer>

    <script src="../controller/index.js"></script>
</body>
</html>