<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../model/index.css">
    <link rel="stylesheet" href="../model/comojogar.css">
    <title>QuizScript</title>
</head>
<body>
    <!--Essa div só vai aparecer quando o usuario clicar no button Iniciar-->
     <div class="pergunta" style="display: none;" >
        <p>Fazem parte dos elementos do javascript, exceto?</p>
        <div class="respostas">
            <div>
                <button type="button">Var</button>
                <button type="button">Console.log()</button>
                <button type="button">Justify-content</button>
                <button type="button">Linguagem de alto nível</button>
            </div>
        </div>
    </div>

    <!--Essa é a primeira div que aparece-->
    <div id="telaInicial">
        <audio src="../audios/musicadetema.mp3" autoplay loop></audio>
        <audio src="../audios/buttonEfeito.mp3"></audio>
        <audio src="../audios/startEfeito.mp3"></audio>

        <header>
            <h1>QuizScript</h1>
        </header>
        <main>
            <div id="button">
                <button type="button" id="efeitosonoro" onclick="clicouEmComecar()">Começar</button>
                <button type="button" id="efeitosonoro2">Como jogar</button>
                <button type="button" id="efeitosonoro3">Créditos</button>
            </div>
        </main>
        <footer>
            <p>Projeto desenvolvido pelo <strong>Squad 04</strong> para o módulo 01 &copy;</p>
        </footer>
    </div>
    
    <!--Essa div só vai aparecer quando o usuario clicar no button Como jogar-->
    <section id="instructions" style="display: none;">
        <div class="main">
          <div class="main-icon">
            <!--Esse svg é o botão pra fechar-->
            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" height="32" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="20" d="M368 368L144 144M368 144L144 368"/></svg>
          </div>
          <div class="main-ins">
            <h1 class="title-ins">QuizScript</h1>
            <ul>
              <li>
                <span>Começando:</span>
                <p>
                  Para iniciar sua jornada no QuizScript, basta clicar no botão
                  "Começar" na tela inicial. Este será o ponto de partida para
                  responder as pergunta do QuizScript.
                </p>
              </li>
              <li>
                <span>Como Jogar:</span>
                <ol class="list-orden">
                  <li>
                    Abra o jogo clicando no botão "Começar" na tela inicial.
                  </li>
                  <li>
                    Uma pergunta aparecerá na tela. Leia cuidadosamente para
                    entender o que está sendo perguntado.
                  </li>
                  <li>
                    Você verá quatro opções de resposta. Escolha a que acredita
                    ser correta.
                  </li>
                  <li>
                    Após selecionar sua resposta, confirme clicando na opção
                    desejada.
                  </li>
                  <li>
                    A resposta correta será destacada. Se você acertou, parabéns!
                    Se não, você será redirecionado para o início do jogo.
                  </li>
                  <li>
                    Continue respondendo às perguntas e verificando suas respostas
                    até completar todas as perguntas.
                  </li>
                  <li>
                    Após responder todas as perguntas, você verá seus resultados
                    finais.
                  </li>
                </ol>
              </li>
              <li>
                <span>O que acontece quando erra:</span>
                <p>
                  Em caso de resposta incorreta, você será redirecionado para o
                  início do jogo, perdendo seus pontos acumulados. Portanto,
                  concentre-se e demonstre seu domínio sobre as tecnologias
                  abordadas.
                </p>
              </li>
              <p>
                Agora, está na hora de clicar em
                <strong>"Começar"</strong>
                para responder as pergunta do QuizScript. Divirta-se! 🚀
              </p>
            </ul>
          </div>
        </div>
      </section>
    <script src="../controller/index.js"></script>
</body>
</html>